@{
    ViewData["Title"] = "PAGINA INICIAL";
}

<div class="text-center">
    <h1 class="display-4">AAAAAAAAAAAAAAAAAAAAAAAAAA</h1>
    <p>Learn about <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9hxIGIRPVvvpnSQjDGNI0undzKEHbVYvWe-7bvt9W4A&s"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9hxIGIRPVvvpnSQjDGNI0undzKEHbVYvWe-7bvt9W4A&s" /></a>.</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Autenticacao" asp-action="Index">Autenticacao</a>
</div>
