<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Cadastro
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="usuario">Usuário</label>
                            <input type="text" class="form-control" id="usuario" placeholder="Digite seu usuário">
                        </div><div class="form-group">
                            <label for="cpf">CPF</label>
                            <input type="text" class="form-control" id="cpf" placeholder="Digite seu CPF">
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input type="password" class="form-control" id="senha" placeholder="Digite sua senha">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-2">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>